{% extends "layout.html.twig" %}

{% block title %}Espece{% endblock %}

{% block main %}
    <h1>Espece</h1>

    <a class="show" href="{{ path('espece_index') }}">back to list</a>

    <a class="show" href="{{ path('espece_edit', {'id': espece.id}) }}">edit</a>

    {{ include('espece/_delete_form.html.twig') }}

    <table class="table">
        <tmain>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ espece.espece }}</td>
            </tr>
        </tmain>
    </table>
{% endblock %}
