{% extends "layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/back-office.css") }}">
{% endblock %}

{% block scripts %}
    <script src="{{ asset("js/espece_autocomplete.js") }}" defer></script>
{% endblock %}

{% block main %}
    <form action="/back-office/show_data" id="search">
        {% if error_message is not null %}
            <script defer>alert("{{ error_message }}");</script>
        {% endif %}
        <label for="espece">Espèce</label>
        <input type="text" list="espece-list" id="espece" class="field" autocomplete="off">
        <datalist id="espece-list" class="espece-list">
            {% for espece in especes %}
                <option data-value="{{ espece.id }}">{{ espece.espece }}</option>
            {% endfor %}
        </datalist>
        <input name="espece" id="espece-hidden" hidden>

        <label for="zone">Zone</label>
        <select name="zone" id="zone-select" class="field" type="text" placeholder="hello">
            <option value="all" selected>Toute</option>
            {% for zone in zones %}
                <option value="{{ zone.id }}">{{ zone.zone }}</option>
            {% endfor %}
        </select>

        <input name="take_no_entry_into_account" value="0" hidden>

        <input type="submit" value="Rechercher" />
    </form>
{% endblock %}
