{% extends "layout.html.twig" %}

{% block title %}Echouage data{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/data.css") }}">
{% endblock %}

{% block main %}
    <h1>Echouages pour {{ espece }}</h1>
    {% if zones|length > 1 %}
        <section id="info">
            <p>
                {{
                    take_no_entry_into_account 
                        ? "Les années sans enregistrements sont prises en comptes comme un enregistrement de 0 echouage dans la moyenne et le minimum."
                        : "Les années sans enregistrements sont notés \"---\" et ne sont pas prises en compte dans la moyenne et le minimum."
                }}
            </p>
            <form>
                {% if take_no_entry_into_account == false %}
                    <input name="take_no_entry_into_account" value="1" hidden>
                {% else %}
                    <input name="take_no_entry_into_account" value="0" hidden>
                {% endif %}

                <input name="zone" value="{{ zones|length > 1 ? "all" : zones[0].getId() }}" hidden>
                <input name="espece" value="{{ espece.getId() }}" hidden>

                <button type="submit" id="">
                    {{
                        take_no_entry_into_account
                            ? "Ne pas prendre en compte les années sans enregistrements"
                            : "Prendre en compte les années sans enregistrements"
                    }}
                </button>
            </form>
        </section>
    {% endif %}
    <section id="tables">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for zone in zones %}
                        <th>{{ zone }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for date, data in echouages %}
                    <tr>
                        <th>{{ date }}</th>
                        {% if take_no_entry_into_account == false %}
                            {% for zone in zones %}
                                <td>{{ data[zone.getId()] == 0 ? "---" : data[zone.getId()] }}</td>
                            {% endfor %}
                        {% else %}
                            {% for zone in zones %}
                                <td>{{ data[zone.getId()] }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td>---</td>
                        <td>Aucun enregistrements</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Moyenne</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in zones %}
                    <tr>
                        <td>{{ zone }}</td>
                        {% if summary_data[zone.getId()]["avg"] == 0 and take_no_entry_into_account == false %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% else %}
                            <td>{{ summary_data[zone.getId()]["min"] }}</td>
                            <td>{{ summary_data[zone.getId()]["max"] }}</td>
                            <td>{{ summary_data[zone.getId()]["avg"]|number_format(2, ",", " ") }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
